SPACETIME_VERSION=latest
SPACETIME_PORT=3000
ADMIN_PORT=3001

POSTGRES_DB=sea_local
POSTGRES_USER=sea
POSTGRES_PASSWORD=sea_local_only
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=sea_local
MINIO_ROOT_PASSWORD=sea_local_only
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
